.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-btn {
    font-size: 2.4rem;
    width: 4rem;
    height: 4rem;
    color: #F49D5B;
    border-radius: 50%;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.icon{
    animation: goToTop 1.2s linear infinite alternate-reverse;
}

@keyframes goToTop {
    0% {
        transform: translateY(-0.2rem);
    }
    100%{
        transform: translateY(0.4rem);
    }
}


