.tourDetail-section {
    margin-top: 80px;
}
.tour-detail{
    margin: 40px 0;
}
.tour-detail .nav-item{
    padding: 10px;
}

.display {
    margin-bottom: 20px;
}

.standard {
    padding: 0.5rem 1.5rem;
    margin: 0 10px;
    background: transparent;
    font-size: 15px;
    border: 1px solid #F49D5B;
}

.display .active {
    background-color: #F49D5B !important;
    color: #fff !important;
    /* padding: 1.1rem 3rem; */
    border: 3px solid #F49D5B !important;
}

@media only screen and (min-width: 280px) and (max-width: 500px) {
    .standard {
        text-align: center;
        padding: 0.8rem 2rem;
        margin: 5px 10px;
    }

    .display {
        display: block;
    }
}


.tab-content {
    border: 1px solid #F49D5B;
    padding: 20px;
}

.nav-tabs .nav-link.active {
    background-color: #F49D5B !important;
    color: #fff !important;
    border: 3px solid #F49D5B !important;
}

.nav-tabs .nav-link {
    /* background-color: #F2F2F2; */
    color: #F49D5B;
    border: 3px solid #F49D5B;
    margin-right: 2rem;
    padding: 1.1rem 3rem;
}

.nav-tabs .nav-link:hover {
    border: 3px solid #F49D5B;
    color: black !important;
}

.nav-tabs {
    border-bottom: none;
}

/* //===== Description =====//  */

.description-content {
    border: 1px solid #f1f1f1;
    padding: 15px
}

.description-content p:last-child {
    margin-bottom: 0
}

/* // ======== Location ========// */

.map-frame {
    background: #ffff;
    padding: 15px 15px 10px;
    border: 1px solid #f1f1f1
}

.map-frame iframe {
    height: 350px;
    width: 100%;
    /* frameborder: 0; */
}

/* //======== Itienrary ===== // */

.timeline {
    position: relative
}

.timeline li {
    list-style: none;
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    padding: 0 15px 15px 110px;
    border: 1px solid #f1f1f1
}

.flag-wrapper {
    margin-bottom: 10px;
    margin-top: 15px
}

.flag {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    transition: all ease-in-out .3s
}

.day-wrapper {
    position: absolute;
    height: 100%;
    width: 60px;
    background: #f1f1f1;
    left: 0;
    z-index: 1;
    text-align: center;
    transition: all ease-in-out .3s;
    top: 0
}

.timeline li:hover .day-wrapper {
    background: #F49D5B
}

.timeline li:hover .flag {
    color: #F49D5B
}

.day-wrapper span {
    color: #005294;
    font-weight: 600;
    font-size: 32px;
    line-height: 2;
    background: #fff;
    width: 100%;
    display: inline-block
}

/* // ======= Price ======== // */

.orange {
    color: #F49D5B;
}

.price-section {
    border: 1px dashed gray;
    padding: 30px 50px;
}

#price ul {
    list-style: circle !important;
}

#price ul li {
    margin-bottom: 15px;
    color: #777;
}